$color-white: hsl(0deg 0% 100%);

$color-text: hsl(147deg 40% 5%);
$color-border: hsl(147deg 40% 95%);

$color-primary: hsl(147deg 40% 50%);
$color-secondary: hsl(147deg 57% 55%);
$color-accent: hwb(150deg 93% 3%);
$color-error: hsl(0deg 100% 50%);

$color-gray-1: hsl(0deg 0% 90%);
$color-gray-2: hsl(150deg 5% 60%);
